/*General*/
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #DAD8D2;
	color: #2D2C30;
}

h1 {
	font-size: 3rem;
	font-weight: bold;
	color: #DAD8D2;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;	
}

h3 {
	color: #DAD8D2;
	font-size: 1.5rem;
	font-weight: bold;	
}

button {
	background-color: #3B945E;
}

.flex {
	display: flex;
	align-items: center;
}

.inline-flex {
	display: inline-flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.bold {
	font-weight: bold;
}


/*Nav bar*/

nav {
	height: 64px;
	position: fixed;
	width: 100%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav ul.mobile {
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

nav ul.desktop {
	align-items: center;
	justify-content: space-between;
	margin-right: 24px;
}

nav ul li {
	padding: 16px;
}

#logo {
	align-items: center;
	font-size: 1.5rem;
}

@media only screen and (min-width: 700px) {
	.mobile {
		display: none;
	}
}

@media only screen and (max-width: 700px) {
	.desktop {
		display: none;
	}
}


/*Banner*/

.banner {
	background-color: #576478;
	padding-top: 64px;
}

.banner img {
	max-width: 60%;
	width: auto;
	height: auto;
	margin: 32px 24px;
}

.banner-text h3 {
	margin-top: 32px;
}

.banner-text button {
	margin-top: 24px;
}

.banner button {
	padding: 8px 50px;
	font-size: 1.5rem;
	color: white;
	border: none;
}

@media only screen and (max-width: 800px) {
	.banner img {
		margin: 0px;
		max-width: 100%;
	}

	.flex {
		flex-wrap: wrap;
	}

	.banner-text {
		max-width: 100%;
		margin: 32px 16px;
	}

}